body {
 
	background-color: #b0c4de;
}
.center-pills {
    display: flex;
    justify-content: center;
}

h1{
width:100%;
text-align:center;
}

#bg {
  position: fixed; 
  top: -50%; 
  left: -50%; 
  width: 200%; 
  height: 200%;
}
#bg img {
  position: absolute; 
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0; 
  margin: auto; 
  min-width: 50%;
  min-height: 50%;
}
